@media only screen and (min-width: 1023px) {

    .hero-overlay {
        top: 45%;
        left: 30%;
    }

    .hero-overlay h1,
    p {
        color: #ccc;
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        margin-top: 25px;
    }

}