:root {
    --primary-color: #E07A5F;
    /* Rosewood Dust / Muted Terracotta */
    --secondary-color: #7C8B6F;
    /* Sage Green / Olive Gray */
    --accent-color: #D4AF37;
    /* Metallic Gold */
    --background-color: #FDF8F6;
    /* Linen / Blush White */
    --text-color: #2F2F2F;
    /* Charcoal Gray */
    --text-color1: #3D405B;
    --text-color2: #FAFAFA;
    --header-background: #7C8B6F;
    --footer-background: #7C8B6F;
    --font-small: 0.8rem;
    --font-base: 1rem;
    --font-large: 1.2rem;
    --font-title: 1.5rem;
}



body {
    background-color: var(--background-color);
    font-family: "Quicksand", sans-serif;
    margin: 0 auto;
    padding: 0;
    color: var(--text-color);
}

button,
.cta-button-small,
.grid img,
.category div img {
    transition: all 0.3s ease;
}


#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-color2);
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
    text-decoration: none;
}

#menu::before {
    content: "\2630";
}

#menu.show::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--text-color);
    text-decoration: none;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
}

nav ul {
    overflow: hidden;
}

nav.show {
    grid-template-rows: 1fr;
}



header {
    display: grid;
    grid-template-columns: 50px auto 50px;
    background-color: var(--header-background);
    align-items: center;
    text-align: center;
}

header h1 {
    color: var(--text-color2);
    font-size: var(--font-title);
    font-weight: 700;
}

h1,
h2,
h3,
p {
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-size: var(--font-title);
    text-align: center;
}

h2 {
    font-size: var(--font-large);
    text-align: center;
    color: var(--text-color1);
    border-radius: 10px;
}

h3 {
    font-size: .9rem;
    border-bottom: 1px solid #eee;
    margin: 1.5rem 0 .2rem;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main p {
    color: var(--text-color);
    text-align: center;
    font-size: 0.8rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    color: var(--text-color);
    padding: 1rem;
    border-top: 1px solid #443850;
    font-size: var(--font-small);
    text-align: center;
}

footer a,
footer div p {
    color: var(--text-color);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*------Classes------*/

.cta-button-small {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: var(--font-large);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    max-width: 200px;
}

.cta-button-small:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.hero-wrapper {
    position: relative;
    width: 100%;
    display: block;
}



.banner {
    position: relative;
    object-fit: cover;
    max-width: 599px;
    width: 100%;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero-overlay {
    display: none;
}

.hero-overlay h1,
p {
    color: #ccc;
    margin: 0;
}

.search input[type="text"] {
    padding: 10px;
    width: 60%;
    height: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 15px 20%;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    gap: 15px;
}

.category div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    max-width: 100px;
}

.category div button {
    border: none;
    background-color: var(--background-color);
}

.category div img {
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
    border-radius: 0 10px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 0 auto;
}

.grid div {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid h3 {
    font-size: var(--font-large);
    margin: 0;
}

.grid p {
    font-size: var(--font-small);
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
    border-radius: 0 10px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
}


/*-----Products-----*/
.product {
    grid-gap: 10px;
}

.product div {
    margin: 10px 8px;
    border: 1px solid var(--primary-color);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    display: grid;
    grid-template-areas: "name"
        "image"
        "description"
        "button";
}

.product h2 {
    margin: 1rem 10px;
    grid-area: name;
}

.product img {
    width: 200px;
    height: 200px;
    grid-area: image;
    margin: 0 auto;
}

.product div img:hover {
    box-shadow: 0 0 50px #333;
    filter: saturate(50%);
}

.product div h3 {
    margin: 1rem 10px;
    text-align: center;
    grid-area: description;
}

.product div button {
    grid-area: button;
    color: #fff;
    background-color: var(--footer-background);
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 1rem;
    height: 30px;
    cursor: pointer;
}

dialog {
    border: 1px solid rgb(0 0 0 /10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 400px;
}

dialog div {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 5px;
}

dialog p {
    font-size: 1rem;
    color: var(--text-color);
    grid-column: 1/3;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 10px;
    color: var(--background-color);
    width: 50px;
    margin: 0 auto;
}

/* Newsletter */
.newsletter {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    max-width: 500px;
    margin: 1rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

.newsletter input[type="submit"] {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.newsletter input[type="submit"]:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.about {
    margin: 0 10%;
}

.about p {
    font-size: 1rem;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

.order {
    font-size: 3rem;
    font-weight: 700;
    align-content: center;
    margin: 0 10%;
    font-style: italic;
    color: var(--secondary-color);
    grid-column: 1/2;
    grid-row: 1/2;
}

.address {
    font-size: 3rem;
    font-weight: 700;
    align-content: center;
    color: var(--secondary-color);
    margin: 0 20%;
    font-style: italic;
    grid-column: 2/3;
    grid-row: 2/3;
}

iframe {
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
}

/*------form---------*/
form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    font-size: 0.9rem;
    color: #E07A5F;
    padding-top: 0.2rem;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
    display: block;
    margin: 0.1rem 0 1rem 0;
    padding: 0.3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3D405B;
    width: 75%;
}

form textarea {
    width: 75%;
    height: 100px;
    margin: 0.3rem 0;
    border-radius: 10px;
}

form input:required {
    border-left-color: #d70000;
}

form input:focus {
    border-left-color: black;
    outline: none;
}

form input:required:valid {
    border-left-color: green;
}

form input[type="submit"] {
    text-align: center;
    background-color: #7C8B6F;
    color: #fff;
    box-shadow: 1px 1px 4px #999;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 2rem auto;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
}

#results {
    background-color: #F4F1DE;
    padding: 0 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 auto;
    padding: 1rem;
}