@media only screen and (min-width: 600px) {

    :root {
        --primary-color: #E07A5F;
        /* Rosewood Dust / Muted Terracotta */
        --secondary-color: #7C8B6F;
        /* Sage Green / Olive Gray */
        --accent-color: #D4AF37;
        /* Metallic Gold */
        --background-color: #FDF8F6;
        /* Linen / Blush White */
        --text-color: #2F2F2F;
        /* Charcoal Gray */
        --header-background: #7C8B6F;
        /* Pure White */
        --footer-background: #7C8B6F;
        /* (Same as Secondary) Sage Green */
    }

    #menu {
        display: none;
    }

    ul.navigation,
    ul.navigation.open {
        display: flex;
        justify-content: end;
    }

    ul.navigation a:hover {
        background-color: #9BA78F;
    }

    li.current-navigation a {
        background-color: rgba(0, 0, 0, 0.4);
    }

    nav {
        background-color: var(--background-color);
        grid-template-rows: 1fr;

    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cta-button-small {
        display: none;
    }

    .hero-overlay {
        display: inline;
        position: absolute;
        top: 45%;
        left: 65%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--background-color);
        padding: 20px;
        z-index: 0;
    }

    .hero-overlay h1 {
        font-size: 2rem;
    }

    .cta-button {
        display: inline-block;
        color: var(--secondary-color);
        background-color: var(--background-color);
        padding: 12px 15px;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 5px auto;
        max-width: 200px;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .banner {
        max-width: 1023px;
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product div {
        grid-template-areas: "name"
            "image"
            "description"
            "button";
    }
}