@media only screen and (min-width: 600px) {

    #menu {
        display: none;
    }

    nav,
    ul.navigation,
    ul.navigation.open {
        display: flex;
        justify-content: end;
    }

    ul.navigation a:hover {
        background-color: #9BA78F;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cta-button-small {
        display: none;
    }

    .hero-overlay {
        display: inline;
        position: absolute;
        top: 25%;
        left: 65%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--background-color);
        padding: 20px;
        z-index: 0;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }

}